.card {
    @apply w-[300px] h-[400px] rounded-md gap-4;
}

.cardInner {
    @apply relative w-full h-full text-center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden; 
}

.card:focus {
    @apply outline-none;
}

.card:hover .cardInner,
.card:focus .cardInner{
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
    @apply absolute w-full h-full;
}

.cardFront {
    @apply rounded-t-md z-10;
}

.cardBack {
    @apply z-10 rounded-md text-black py-8 px-4 overflow-y-auto text-justify flex flex-col items-start justify-start;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    transform: rotateY(180deg);
    z-index: 1;
}

.comicNameItem {
    @apply text-xs;
}

.imageContainer {
    @apply relative w-full h-[80%] bg-green-500 rounded-t-md;
}

.imageContainer img {
    @apply absolute top-0 left-0 w-full h-full object-cover;
  }

.cardImage {
    @apply rounded-t-md
}

.cardMenuContainer {
    @apply w-full flex flex-col items-start bg-slate-700 text-white justify-center p-4;
}

.cardSubcontainer {
    @apply w-full flex flex-row items-center justify-between;
}